@import url('bootstrap.css');
@import url('bootstrap-responsive.css');


.starred {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.unread td {
  font-weight: bold;
}

.mail {
  cursor: pointer;
}

.modMailbox.sideNav li {
  cursor: pointer;
}

.modMailbox.sideNav .active {
  font-weight: bold;
}
